<br /><br /><br />

<h2><a href="?n=relProdutos">Relatórios / Versão</a></h2>

<a href="[url_relatorio]" class="botaoExportarExcel" >Exportar Excel</a>

<div>

<table class="tabela tablesorter" style="width: 400px;">
    <thead>
    	<tr>
        	<th class="linhaCinza" colspan="3"></th>
        </tr>
        <tr>
            <th class="semBarra" style="width: 150px;" colspan="3">
                Territorio
            </th>
            <th class="semBarra">
                Versão
            </th>
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="3"></th>
        </tr>
    	<tr>
        	<th class="linhaBranco" colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        [territorios]
    </tbody>
    	<tr>
        	<th class="linhaBranco" colspan="3"></th>
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="3"></th>
        </tr>
</table>

</div>