<!--<h2><a href="?n=relProdutos">Relatórios / [linha]</a> / <a href="?n=relProduto&i=[produto_id]">[produto]</a> / [va]</h2>-->

<!--<a href="[url_relatorio]" class="botao">Gerar Relatório</a><br /><br />-->

<table class="tabela tablesorter">
    <thead>
    	<tr>
        	<th class="linhaCinza" colspan="6"></th>
        </tr>
        <tr>
            <th class="semBarra">
                Doutor
            </th>
            <th class="semBarra" style="width: 200px;">
                Visualizações
            </th>
            <th class="semBarra" style="width: 200px;">
                Tempo Total (min:seg)
            </th>
            <th class="semBarra" style="width: 200px;">
                Tempo Médio (min:seg)
            </th>
            <th class="semBarra acao" style="width: 100px;">&nbsp;</th>
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="6"></th>
        </tr>
    	<tr>
        	<th class="linhaBranco" colspan="6"></th>
        </tr>
    </thead>
    <tbody>
        [doutores]
    </tbody>
    <tfoot>
    
        <tr>
            <td>
                <b>TOTAL</b>
            </td>
            <td>
                [total_visualizacoes]
            </td>
            <td>
                [total_tempo]
            </td>
            <td>
                [total_tempo_medio]
            </td>
            <td />
        </tr>
       	<tr>
        	<th class="linhaBranco" colspan="6"></th>
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="6"></th>
        </tr>
    </tfoot>
</table>