<tr>
    <td>
        <div class="slideCont"><span>Slide [cont]</span></div>
        <a target="_blank" href="[url_imagem]"><img src="[url_imagem_thumb]" [add_video] /></a>
        [video{
            <div style="line-height: 30px;"><label><input type="checkbox" class="checkbox" [video]  style="height: 20px;" disabled="disabled" /> autoplay</label></div>
        }]
        [especialidades{
            <center>Especialidades <br />[especialidades]</center>
        }]
    </td>
    <td>
        [visualizacoes]
    </td>
    <td>
        [tempo]
    </td>
    <td>
        [tempo_medio]
    </td>
</tr>