<br /><br /><br />

<h2>
    Linhas / [linha]
</h2>

<a href="[url_relatorio]" class="botaoExportarExcel">Exportar Excel</a>

<table class="tabela tablesorter">
    <thead>
    	<tr>
        	<th class="linhaCinza" colspan="18"></th>
        </tr>
        <tr>
            <th class="semBarra">
                Representante
            </th>
            <th class="semBarra" style="width: 200px;">
                Ultima Conexão (dias)
            </th>
            <th class="semBarra" style="width: 200px;">
                Ultimo Download (dias)
            </th>
            [produtos]
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="18"></th>
        </tr>
    	<tr>
        	<th class="linhaBranco" colspan="18"></th>
        </tr>
    </thead>
    <tbody>
        [territorios]
    </tbody>
    	<tr>
        	<th class="linhaBranco" colspan="18"></th>
        </tr>
    	<tr>
        	<th class="linhaCinza" colspan="18"></th>
        </tr>
</table>