<script type="text/javascript">

    function renderGrafico() {
        // FUNCTION GRAFICOS
        new Highcharts.Chart({
            chart: {
                renderTo: '[container]',
                defaultSeriesType: 'column'
            },
            colors: [
	            '#00096F',
	            '#0058C4',
	            '#01832C',
	            '#01AD39',
	            '#37376F',
	            '#484891',
	            '#5F5FAF',
	            '#8181C0', 
	            '#B5CA92'
            ],
            title: {
                text: '[titulo]'
            },
            subtitle: {
                text: '[subtitulo]'
            },
            xAxis: {
                title: {
                    text: '[titulo_x]'
                },
                categories: [
		            [categorias]
	            ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '[titulo_y]'
                }
            },
            legend: {
                layout: 'horizontal',
                backgroundColor: '#FFFFFF',
                align: 'center',
                verticalAlign: 'bottom',
                shadow: true,
                width: 400,
                itemWidth: 200,
                labelFormatter: function() {
	                return this.name
                }
            },
            tooltip: {
                formatter: function () {
                    return '' +
			this.x + ': ' + this.y + '';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [series]

        });
    }
</script>

<div id="[container]" style="width: 900px; height: 500px; margin: 0 auto"></div>

<script type="text/javascript">
    renderGrafico();
</script>