<tr>
    <td>
        [linha]
    </td>
    <td >
        [reps]
    </td>
    <td >
        [instalacao_ok]
    </td>
    <td >
        [instalacao_faltam]
    </td>
    <td >
        [instalacao_porcentagem]
    </td>
    <!--<td>
        [atualizacao_ok]
    </td>
    <td>
        [atualizacao_faltam]
    </td>
    <td>
        [atualizacao_porcentagem]
    </td>-->
    <td >
        [sincronizacao_hoje]
    </td>
    <td >
        [sincronizacao_ontem]
    </td>
    <td >
        [sincronizacao_ate3dias]
    </td>
    <td >
        [sincronizacao_mais3dias]
    </td>
</tr>