*{
	padding:0;
	margin:0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

img
{
	border: none;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color:#5e5d5d !important;
}

hr{
	background-color: #D4D4D4;
	border: 0 none;
	clear: both;
	color: #D4D4D4;
	height: 1px;
}

body{
	width:100%;
	height:100%;
	font-size:15px;
	background:url(../Images/pixel_bg.jpg) 0 0 repeat-x #ebebeb !important;
	
}

:focus{
	outline:none;
}

.geral{
	width:998px;
	display:block;
	position: absolute;
	left: 50%;
	margin-left: -499px;
}

div.login {
	width:480px;
	height:272px;
	top:50%;
	left:50%;
	margin-left:-240px;
	display:block;
	position:absolute;
	background:none !important;
	color:#5e5d5d !important;
	font-weight:bold;
	font-size:18px !important;
}

div.login div.nome,div.login div.senha{
	padding-bottom:10px;
}
	
div.login div.nome{
	width:495px;
	height:70px;
	float:left;
}	

	div.login div.nome input{
		width:376px;
		height:50px;
		border:0;
		background: url(../Images/input_login.png) 0 0 no-repeat;
		padding:5px 0 0 5px;
		font-size:15px;
	}
	
div.login div.senha{
	width:495px;
	height:70px;
	float:left;
}

	div.login div.senha input{
		width:376px;
		height:50px;
		border:0;
		padding-left:5px;
		background: url(../Images/input_login.png) 0 0 no-repeat;
	}

div.login div label{
	width: 84px;
	height: 50px;
	line-height: 20px;
	float:left;
	display:block;
	padding-top:15px;
	padding-left: 10px;
}

div.login input.btnEntrar{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 0 15px;
	margin:-16px 0 0 -36px;
	text-transform: capitalize;
	color:#5E5D5D !important;
	border:1px solid #a8a8a8;
	background:url(../images/bt_pixel.jpg) 0 0 repeat-x !important;
}

div.login a{
	font-size:18px;
	float:left;
	display:block;
	text-decoration:none;
	margin-top:3px;
	color:#5e5d5d !important;
}

div.login span{
	width:160px;
	height:16px;
	display:block;
	float:left;
	margin-top:12px;
}	

div.login a:hover{
	text-decoration:underline;
}	
.divErro{
	display:block;
	height:16px;
}
/*------------------------------------------------*/
.topo{
	width:998px;
	height:165px !important;
	display:block !important;
	float: left !important;
}			
	.topo h2{
		width:300px;
		height:100%;
		float:left;
		display:inline;
		text-indent:-999999px;
		overflow:hidden;
		margin-top:60px;
	}

.menutop{
	font-weight: bold;
	font-size:15px;
	line-height: 50px;
	padding-left:10px;
	display:block;
	float:right;
	height:30px !important;
	width: 370px !important;
	background-color:#0165a3 !important;
	color:#FFFFFF !important;
}

	.menutop span{
		display: block;
		float:left;
	}

	.menutop a.meu-cadastro{
		margin-left:5px;
		margin-right: 5px;
	}
	.menutop a.sair{
		margin-right: 10px;
	}

	.menutop a.botao{
		margin-top: 16px !important;
		line-height: 24px;
		padding: 0px 10px;
		display:block;
		float:right;
		background-color:#0096D5 !important;
		color:#FFFFFF !important;
	}
.menu{
	display: block;
	z-index: 999;
	float:left;
	background:none !important;
}

.menu ul{
	list-style: none;
	display: block;
}

.menu ul li{
	display: block;
	float: left;
}

.menu ul.submenu{
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
}

.menu ul.submenu li{
	display: block;
	float: none;
	width: 150px;
}
.menu a {
	background-color:#0165a3 !important;
	color:#FFFFFF !important;
	margin-left:3px;
}

.menu .acinza {
	background-color:#d4d2d2 !important;
	color:#5e5d5d !important;
	margin-left:3px;
	height:33px !important;
}

.menu ul.submenu li a{
	display: block;
	float: none;
}
	
	

/* CONTEUDO */

a.lapis{
	background:url(../Images/ico-tabela1.gif) 0 0 no-repeat;
	width:12px;
	height:13px;
	margin-left:10px;
	display: block;
	float: left;
}

a.lixo{
	background:url(../Images/ico-tabela2.png) 0 0 no-repeat;
	width:11px;
	height:12px;
	margin-left:10px;
	display: block;
	float:left;
}

.conteudo{
	display:block;
	float: left;
	padding-bottom: 20px;
	margin-bottom:0 !important;
	overflow: hidden;
	color:#5e5d5d !important;
	font-weight:bold;
	background:none 0 0 repeat !important;
	margin-top:6px !important;
}

.conteudo .titulo{
	height:40px !important;
	display:block;
	margin:0 auto;
	width: 100%;
	color:#aeabab !important;
	background:none !important;
}

.conteudo .titulo h2{
	padding-left: 20px;
	font-size: 45px;
}

.conteudo h2{
	font-size:15px;
}

.conteudo .filtros{
	float: left;
	margin: 10px 0 0 10px;
	padding: 5px;
	background-image: url(../images/back_transparente.png);
}

.conteudo .filtros input{
	width: 100px;
}

.conteudo .filtros .filtrar{
	float: left;
	margin-top:8px;
}

.conteudo .filtros label{
	padding-left: 5px;
}

.conteudo .filtros .jqTransformInputWrapper{
	clear: left;
}

.conteudo .filtros span{
	display: block;
	float: left;
	margin-right: 10px;
}

.conteudo .sub-menu{
	padding: 2px 15px 0;
	display:block;
	clear: both;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	text-align: right;
	background-image: url(../images/back_transparente.png);
}

.conteudo .sub-menu a{
	padding: 0  10px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	display: inline-block;
}

.botoes{
	padding: 15px 0 0;
	display:block;
	clear: both;
}

.botoes a{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 0 15px;
	text-transform: capitalize;
	color:#5E5D5D !important;
	border:1px solid #a8a8a8;
	background:url(../images/bt_pixel.jpg) 0 0 repeat-x !important;
}
.botao{
	background: gray;
	padding: 0  10px 0 10px;
	font-weight: bold;
	font-size: 14px;
	color: White;
	height: 24px;
	line-height: 24px;
	display: inline-block;
}

.conteudo-baixo .botao{
	background:url(../images/bt_addva.jpg) 0 0 no-repeat !important;
	color:#5e5d5d !important;
	height:27px;
	width:176px !important;
	display: inline-block;
	padding:2px 0 0 0 !important;
	text-align:center;
}
.conteudo .ajuda{
	padding: 0 20px 20px;
}

.conteudo .ajuda p, .conteudo .ajuda h1, .conteudo .ajuda h2, .conteudo .ajuda h3, .conteudo .ajuda h4, .conteudo .ajuda h5, .conteudo .ajuda h6{
	margin: 10px 0;
}





.conteudo-secundario-container{
	color:#ebebeb !important;
	font-size:15px;
	background-color:#dad9d9 !important;
}
.conteudo-secundario{
	padding-top: 10px;
}
.conteudo-secundario #divSlides{
	color:#5e5d5d;
	font-weight:bold !important;
	font-size:15px !important;;
}
#divSemSlide{
	color:#5e5d5d;
}
.conteudo-baixo{
	padding: 10px;	
	display:block;
	padding-bottom: 10px;
	margin-top:30px;
}

.conteudo-baixo .tabela-container{
	background:none !important;
}

.conteudo-baixo .tabela{
	width: 100%;
}

.conteudo-baixo .tabela tr th{
	padding: 5px;
	cursor: pointer;
	text-align: center;
	background-color:#0165a3;
	font-size:18px;
	color:#FFFFFF;
}

.conteudo-baixo .tabela tr td{
	padding: 18px 0!important;
}

.conteudo-baixo .tabela .acao{
	width: 100px;
	text-align: right;
}
.conteudo-baixo .tabela .even{
	background-color:#cecece !important;
	color:#4c4c4c !important;
	text-align:center !important;
}
.conteudo-baixo .tabela td a.visualizar{
	display:block;
	float:left;
	width:52px;
	height:38px;
	background:url(../images/bt_visualizar.png) 0 -40px no-repeat;
	text-indent:-999999px;
	overflow:hidden;
	margin-left:35px;
}
.conteudo-baixo .tabela td a.visualizar:hover{
	background:url(../images/bt_visualizar.png) 0 0 no-repeat;
}
.conteudo-baixo .tabela td a.editar{
	display:block;
	float:left;
	width:33px;
	height:38px;
	background:url(../images/bt_editar.png) 0 -40px no-repeat;
	text-indent:-999999px;
	overflow:hidden;
	margin-left:35px;
}
.conteudo-baixo .tabela td a.editar:hover{
	background:url(../images/bt_editar.png) 0 0 no-repeat;
}
.conteudo-baixo .tabela td a.excluir{
	display:block;
	float:left;
	width:38px;
	height:38px;
	background:url(../images/bt_excluir.png) 0 -40px no-repeat;
	text-indent:-999999px;
	overflow:hidden;
	margin-left:35px;
}	
.conteudo-baixo .tabela td a.excluir:hover{
	background:url(../images/bt_excluir.png) 0 0 no-repeat;
}
.conteudo-baixo .tabela .odd{
	background-color:#dedede !important;
	color:#4c4c4c !important;
	text-align:center !important;
}

.tabela tr th.headerAsc{
	padding-left: 15px;
}

.tabela tr th.headerDesc{
	padding-left: 15px;
}

.tabela tr td.icones{
	text-align: right;
	float: right;
	padding-right: 10px;
}

.tabela tr td.icones a{
	display: block;
	float: left;
}

.conteudo-form{
	padding: 20px 20px 0 20px;
	margin-bottom: 40px;
	width:620px;
	display:block;
	margin:0 auto;
}

	.conteudo-form label{
		width: 140px;
		display: block;
		float: left;
		height:35px;
		padding-top:15px;
		font-size:18px;
		font-weight:normal;
		text-align:right;
		padding-right:30px;
	}

	.conteudo-form ul li{
		min-height:30px;
		line-height: 20px;
		clear: both;
		list-style: none;
		padding-bottom:12px;
	}

	.conteudo-form ul li.liSubmit{
		margin-top: 30px;
	}

	.conteudo-form ul li.liSubmit input{
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		height: 25px;
		width:125px;
		line-height: 25px;
		padding: 0 15px;
		text-transform: capitalize;
		color:#5E5D5D !important;
		border:1px solid #a8a8a8;
		background:url(../images/bt_pixel.jpg) 0 0 repeat-x !important;
	}
		.conteudo-form ul li i{
			padding-top:15px;
			
	}
	

	.conteudo-form input{
		width:376px;
		height:50px;
		border:0;
		padding:5px 0 0 5px;
		background: url(../Images/input_login.png) 0 0 no-repeat;
		
	}

.inferior{
	width:998px;
	margin:0 auto 10px;
	display:block;
	text-align: right;
	float: left;
	border-top:solid 2px #0165a3;
}

	.inferior a.botao{
		padding: 0 15px 0 15px;
		margin: 0 0 0 3px;
		font-weight: bold;
		height: 24px;
		line-height: 24px;
		display: inline-block;
		float: right;
		background:none repeat 0 0 #0165a3 !important;
		color:#FFFFFF !important;
	}
	
/* Pagina: PAGINAS */

.controlador-container{
	padding: 0px 10px 10px 10px;
}

.controlador{
	border-top: 1px solid white;
	padding-top: 10px;
}

/* Pagina: Visualizar VA */
.vas-visualizar {
	/*background:url(../images/bg_visualizar.jpg) 0 90px no-repeat;*/
	width:970px;
	height:780px;
	display:block;
}
.vas-visualizar li
{
	list-style: none;
	background: #FFFFFF;
	margin: 5px;
	padding: 5px;
	width: 170px;
	height:150px;
	float: left;
}

.vas-visualizar .comentarios li
{
	clear: both;
	width: 900px;
	height: auto;
	background:none;
}

.vas-visualizar .comentarios li .header
{
	margin: 0 0 5px;
	font-size:18px;
}
.vas-visualizar #mensagem{
	border:solid #c2c0c0 3px;
}

.vas-visualizar li a
{
	display: block;
	text-align: center;
	width: 100%;
}

.vas-visualizar li select
{
	margin: 5px 5px 0;
	width: 140px;
	height: 20px;
}
   
.vas-visualizar .slideCont
{
	text-align: center;
	margin-bottom: 5px;
	border-bottom: 1px solid #DDD;
	height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.vas-visualizar h2
{
	border-bottom: 1px solid #eee;
	line-height: 20px;
	margin:  20px 0 10px;
	text-transform: uppercase;
	float: left;
	width: 100%;
	clear: both;
	padding: 5px 0 8px;
	color:#aeabab;
	font-size:23px;
	letter-spacing:-1px;
}
.vas-visualizar h2 span{
	color:#5e5d5d;
	font-size:17px;
	
}
.vas-visualizar input{
	background:url(../images/input.png) 0 0 no-repeat !important;
	width:500px !important;
	height:50px !important;
	border:none;
	padding-left:5px;
	font-size:15px;
}
.vas-visualizar label{
	height:35px;
	padding-top:15px;
}

/* Pagina: Permissoes */

.conteudo-permissoes .conteudo-secundario-container {
	float: left;
	clear: both;
	margin-bottom: 10px;
	width: 97%;
}

ul.listaPermissoes li{
	float: left;
	margin: 10px;
	clear: none;
}

ul.listaPermissoes li a{
	margin-right: 10px;
}

/* PAGINACAO */

.pager{
	clear:left;
	display:block;
	height:20px;
	line-height:20px;
	padding:10px 10px 5px 20px;
	width:900px;
}

.pager *{
	float: left;
	display:block;
}

.pager img{
	border:none;
	cursor:pointer;
}
.pager label{
	font-size:11px;
	padding:0 10px 0 30px;
	height: 30px;
}
.pager input, .pager select{
	height:18px;
	border:1px solid #cccccc;
	background-color:#fff;
	font-size:11px;
	color:#888888;
}

input.pagedisplay{
	width:50px;
	text-align:center;
	border:none;
}
input.gotopage{
	width:50px;
	text-align:center;
	padding-top:2px;
	height:16px;
}

/* Editor */

.divEditor{
	display:block;    
	float: left;
	overflow: auto;
	width: 100%;
}

/* Modal */

.modal p{
	margin-bottom: 10px;
}

/* Resumo da validação */

.validation-summary-errors{
	color: Red;
	float: left;
	clear: both;
	margin-bottom: 10px;
}

.validation-summary-errors ul li{
	height: auto;
}

/* carregando */

.carregando
{
	background: url(../images/carregando.gif) center 10px no-repeat;
	text-align: center;
	padding-top: 47px;
	
	font-weight: bold;
}

#PreVisualizar{
	display:block;
	float:left;
	height:720px;
	width:980px;
}