<table class='tabelaArquivos tabela tablesorter'>
    <thead>
        <tr>
            <th style="width: 60px">
                Linha
            </th>
            <th style="width: 60px">
                ESP
            </th>
            <th>
                p1
            </th>
            <th>
                p2
            </th>
            <th>
                p3
            </th>
            <th>
                p4
            </th>
            <th>
                p5
            </th>
            <th>
                p6
            </th>
            <th>
                p7
            </th>
            <th>
                p8
            </th>
            <th>
                p9
            </th>
            <th>
                p10
            </th>
        </tr>
    </thead>
    <tbody>
        [conteudo]
    </tbody>
</table>