<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attachments</key>
	<array>
		[attachments]
	</array>
	<key>description</key>
	<string>[description]</string>
  <key>productId</key>
  <string>[productId]</string>
	<key>id</key>
	<string>[id]</string>
	<key>title</key>
	<string>[name]</string>
	<key>pages</key>
	<array>
		[pages]
	</array>
	<key>thumbFile</key>
	<string>[thumbFile]</string>
	<key>version</key>
	<string>[version]</string>
  <key>endDate</key>
  <string>[endDate]</string>
</dict>
</plist>
