<li>
    <input name="IdSlides" type="hidden" value="[id]">
    <div class="slideCont"><span>Plano de Fundo [cont]</span> <div style="float: right;"><a href="[url_excluir]" classe="excluir">X</a></div></div>
    <a target="_blank" href="[url_imagem]"><img src="[url_imagem_thumb]" [add_video] /></a>
    [video{
        <div style="line-height: 30px;"><label><input type="checkbox" class="checkbox" [video]  style="height: 20px;" /> autoplay</label></div>
    }]
    <!--<center>Especialidades <a href="javascript:EditarEspecialidades([id])">[especialidades]</a></center>-->
</li>