<tr>
    <td align='center'>
        [data]
    </td>
    <td>
        [qtde_slides]
    </td>
    <td>
        [versao]
    </td>
    <td style="text-align: left;">
        [nome]
    </td>
    <td>
        [status]
    </td>
    <td align='center'>
        
        [excluir{<a href="javascript:[excluir]" class="excluir">Excluir</a>}]
        [editar{<a href="[editar]" class="editar">Editar</a>}]
        [url_visualizar{<a href="[url_visualizar]" class="visualizar">Visualizar</a>}]
        [url_duplicar{<a href="[url_duplicar]" class="duplicar">Duplicar</a>}]
        [url_download{<a href="[url_download]" class="" style="float: right; line-height: 38px; padding: 0 5px;">Download</a>}]
        [url_desativar{<a href="[url_desativar]" class="" style="float: right; line-height: 38px; padding: 0 5px;">Desativar</a>}]
        
    </td>
</tr>