/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSlider                         { width: 840px; height: 630px; position: relative; margin: 0 auto 15px; }
.anythingSlider .wrapper                { width: 840px; overflow: auto; height: 630px; position: absolute; top: 0; left: 0; }

                                        /* Width below is max for Opera */
.anythingSlider .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider .wrapper ul li          { display: block; float: left; padding: 0; height: 700px; width: 840px; margin: 0; }
.anythingSlider .wrapper ul li .text	{ display: none;}
.anythingSlider .arrow                  { display: block; height: 200px; width: 67px; background: url(images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0 0; right: -20px; }
.anythingSlider .back                   { background-position: -67px 0; left: -20px; }
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }

.thumbNav                               { position: absolute; bottom: 50px; right: 0; z-index: 1; text-align: center; }
.thumbNav li                            { display: block; margin-bottom: 5px; }
.thumbNav a                             { color: gray; display: inline-block; font-weight: bold; padding: 4px 10px; height: 15px; margin: 0 5px 0 0; background: url(../../images/home-vitrine-back-branco.png) ; text-align: center; }
.thumbNav a:hover                       { color: #688082; background: white;}
.thumbNav a.cur                         { background: url(../../images/home-vitrine-back.png) #688082; color: White; font-weight: bold; }

.thumbText								{ position: absolute; padding: 5px 10px; bottom: 0; z-index: 1; width: 756px; height: 20px; background: #0d3546; color: #3F667E;}

.start-stop                             { z-index: 10; background: url(../../images/home-vitrine-back.png); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px;}
.start-stop.playing                     { background-color: red; }
.start-stop:hover                       { background-image: none; }

/*
  Prevents
*/
.anythingSliderVisualizar .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSliderVisualizar .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }

/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSliderVisualizar                         { width: 1024px; height: 768px; position: relative; margin: 0 auto 15px; }
.anythingSliderVisualizar .wrapper                { width: 1024px; overflow: auto; height: 768px; position: absolute; top: 0; left: 0; }

                                        /* Width below is max for Opera */
.anythingSliderVisualizar .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSliderVisualizar .wrapper ul li          { display: block; float: left; padding: 0; height: 768px; width: 1024px; margin: 0; }
.anythingSliderVisualizar .wrapper ul li .text	{ display: none;}
.anythingSliderVisualizar .arrow                  { display: block; height: 200px; width: 67px; background: url(images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
.anythingSliderVisualizar .forward                { background-position: 0 0; right: -20px; }
.anythingSliderVisualizar .back                   { background-position: -67px 0; left: -20px; }
.anythingSliderVisualizar .forward:hover          { background-position: 0 -200px; }
.anythingSliderVisualizar .back:hover             { background-position: -67px -200px; }

/*
  Prevents
*/
.anythingSliderVisualizar .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSliderVisualizar .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }

/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSliderFarmacia                         { width: 840px; height: 630px; position: relative; margin: 0 auto 15px; }
.anythingSliderFarmacia .wrapper                { width: 840px; overflow: auto; height: 630px; position: absolute; top: 0; left: 0; }

                                        /* Width below is max for Opera */
.anythingSliderFarmacia .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSliderFarmacia .wrapper ul li          { display: block; float: left; padding: 0; height: 700px; width: 840px; margin: 0; }
.anythingSliderFarmacia .wrapper ul li .text	{ display: none;}
.anythingSliderFarmacia .arrow                  { display: block; height: 200px; width: 67px; background: url(images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
.anythingSliderFarmacia .forward                { background-position: 0 0; right: -20px; }
.anythingSliderFarmacia .back                   { background-position: -67px 0; left: -20px; }
.anythingSliderFarmacia .forward:hover          { background-position: 0 -200px; }
.anythingSliderFarmacia .back:hover             { background-position: -67px -200px; }

/*
  Prevents
*/
.anythingSliderFarmacia .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSliderFarmacia .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }